MODEL_PATH=/app/models/translate-gemma
MODEL_DISPLAY_NAME=Sharifsetup-Translator
VERBOSE_LOGS=false
TENSOR_PARALLEL_SIZE=1
DTYPE=bfloat16
MAX_MODEL_LEN=4096
GPU_MEMORY_UTILIZATION=0.92
ENFORCE_EAGER=false
SWAP_SPACE=4.0
TRUST_REMOTE_CODE=false
DEFAULT_TEMPERATURE=0.0
DEFAULT_TOP_P=0.95
DEFAULT_MAX_NEW_TOKENS=512
DEFAULT_REPETITION_PENALTY=1.0
