MODEL_PATH=./models/sharifsetup-translate
MODEL_DISPLAY_NAME=Sharifsetup-Translator
VERBOSE_LOGS=false
MODEL_DEVICE=auto
DTYPE=bfloat16
MAX_MODEL_LEN=4096
TRUST_REMOTE_CODE=true
USE_FAST_PROCESSOR=false
FIX_MISTRAL_REGEX=true
DEFAULT_TEMPERATURE=0.0
DEFAULT_TOP_P=0.95
DEFAULT_MAX_NEW_TOKENS=512
DEFAULT_REPETITION_PENALTY=1.0
